body {
  background-color: #EAE3C8;
}
hr {border-color: #876445;
  border-top-style: dotted;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  height: 2PX;
  border-width: 3PX;
  width: 5%;
}
h1{
  color: #5C3D2E;
}
H3 {
  color: #614124;
}
